[submodule "accelerate"]
	path = accelerate
	url = https://github.com/ivogabe/accelerate
	branch = new-pipeline
[submodule "accelerate-llvm"]
	path = accelerate-llvm
	url = https://github.com/ivogabe/accelerate-llvm
	branch = new-pipeline
